<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Formulario:</h5>
          <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="formulario.nombre" placeholder="nombre" required name="nombre">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" [(ngModel)]="formulario.email" placeholder="email" name="email" required>
            </div>
            <h5 class="card-title">Preguntas</h5>
            <div *ngFor="let pregunta of formulario.preguntas;let i = index" class="form-group">
              <label>{{i+1}}. {{pregunta.nombre}}</label>
              <select class="form-control" [(ngModel)]="pregunta.respuesta"  name="pregunta{{i}}" required>
                <option selected value="null">Seleccione una opcion</option>
                <option value="1">Verdadero</option>
                <option value="0">Falso</option>
              </select>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bd-example-modal-lg" id="resultadoModal" tabindex="-1" role="dialog" aria-labelledby="resultadoModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Resultado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Preguntas</th>
                <th scope="col">Puntaje</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inteligencia of respuesta">
                <th scope="row">{{inteligencia.nombre}}</th>
                <td>
                  <ng-container *ngFor="let posicion of inteligencia.posiciones;let i = index">
                    <ng-container *ngIf="i == 0">{{ posicion }}</ng-container>
                    <ng-container *ngIf="i != 0">,{{ posicion }}</ng-container>
                  </ng-container>
                </td>
                <td>
                  <b>{{inteligencia.resultado}}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="init()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
